@charset "UTF-8";
body {
  background-color: #B7AFA8;
  font-size: small;
  font-family: "メイリオ", Meiryo, verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

#wrap {
  max-width: 95%;
  margin: 0 auto;
  border: solid 1px #CCC;
  position: relative;
}

@media screen and (min-width: 1000px) {
  #wrap {
    max-width: 1000px;
  }
}
label:not(.nowp) {
  display: block;
  margin-top: 3px;
}

@media screen and (min-width: 1000px) {
  label:not(.nowp) {
    display: inline-block;
  }
}
input[type="text"] {
  border: solid 1px #333;
  margin: 0 5px;
  background-color: #E0D9D3;
}
input[type="text"]#in_name, input[type="text"]#in_name_color, input[type="text"]#in_message_color {
  width: 60%;
}
input[type="text"]#in_message {
  width: 50%;
}
input[type="text"]#message {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  input[type="text"] {
    border: solid 1px #333;
    margin: 0 5px;
    background-color: #E0D9D3;
  }
  input[type="text"]#in_name {
    width: 140px;
  }
  input[type="text"]#in_name_color, input[type="text"]#in_message_color {
    width: 100px;
  }
  input[type="text"]#in_message, input[type="text"]#message {
    width: 400px;
  }
}
.btns {
  display: inline-block;
  border: solid 1px #333;
  background-color: #453F38;
  color: #E0D9D3;
  padding: 3px 10px;
  cursor: pointer;
  text-align: center;
}
.btns:hover {
  background-color: #292521;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btns#submit {
  margin-top: 5px;
  margin-left: 0px;
}
@media screen and (min-width: 1000px) {
  .btns#submit {
    margin-top: 0;
    margin-left: 5px;
  }
}
.btns#modal_close, .btns#leave {
  padding: 3px 10px;
}

#chat_enter {
  display: inline-block;
}

#form_wrap {
  background-color: #8C7D73;
  padding: 15px;
  line-height: 1;
}
#form_wrap #chat_title {
  font-weight: bold;
}
#form_wrap #chat_form #enter_form {
  max-width: 580px;
  margin: 0 auto;
}
#form_wrap #chat_form #enter_form #chat_title {
  margin-bottom: 3px;
}
#form_wrap #chat_form #enter_form #message_wrap {
  margin-top: 3px;
}
#form_wrap #chat_form #send_form {
  display: none;
  max-width: 580px;
  margin: 0 auto;
}
#form_wrap #setting {
  position: absolute;
  top: 5px;
  right: 5px;
}
#form_wrap #setting > div {
  display: inline-block;
}
#form_wrap #setting #view_all_log {
  color: #E0D9D3;
  cursor: pointer;
}
#form_wrap #setting #view_all_log:hover {
  text-decoration: underline;
}
#form_wrap #setting #open_btn {
  display: none;
  color: #E0D9D3;
  text-decoration: none;
  margin-left: 10px;
}
#form_wrap #setting #open_btn:hover {
  text-decoration: underline;
}
#form_wrap #in_name_view {
  background-color: #E0D9D3;
  padding: 0 3px;
}

#change {
  display: block;
  margin-top: 5px;
}

@media screen and (min-width: 1000px) {
  #change {
    display: inline-block;
    margin-top: 0;
  }
}
#message_wrap {
  display: block;
}
#message_wrap input {
  margin: 0;
}

@media screen and (min-width: 1000px) {
  #message_wrap {
    display: inline-block;
  }
}
#log_wrap {
  line-height: 1.5em;
  font-size: 108%;
  padding: 15px;
  background-color: #E0D9D3;
}
#log_wrap time {
  font-size: 77%;
  color: #95897F;
}
#log_wrap i {
  font-style: normal;
  margin: 0 10px;
}
#log_wrap .b_name {
  font-weight: bold;
}

#lean_overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
}

#chat_setting.modal {
  display: none;
  width: 95%;
  background-color: #E0D9D3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#chat_setting.modal .inner {
  padding: 15px;
}
#chat_setting.modal .inner .contents {
  margin-top: 15px;
}
#chat_setting.modal .inner .contents.close {
  text-align: right;
  border-top: solid 1px #453F38;
  padding-top: 5px;
  margin-top: 20px;
}
#chat_setting.modal .inner .contents .title {
  border-bottom: dotted 1px #453F38;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-weight: bold;
}
#chat_setting.modal .inner .contents #modal_close {
  display: inline-block;
}
#chat_setting.modal .inner .contents #leave {
  display: none;
}
#chat_setting.modal #chat_out {
  display: none;
  text-align: center;
  padding: 50px 0;
}

@media screen and (min-width: 1000px) {
  #chat_setting.modal {
    width: 50%;
  }
}
.colorbox-cont {
  position: fixed;
  width: 96%;
  height: 65%;
  overflow: scroll;
  top: 115px;
  left: 2%;
  margin-left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #FFF;
}
.colorbox-cont div:not(.nocls) {
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  width: 150px;
}
.colorbox-cont .box-item {
  overflow: hidden;
  margin: 0 0 2px 0;
  padding: 3px;
}
.colorbox-cont .box-item:hover {
  background-color: #B7AFA8;
}
.colorbox-cont .box-item span {
  float: left;
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

@media screen and (min-width: 1000px) {
  .colorbox-cont {
    position: fixed;
    width: 780px;
    height: 50%;
    overflow: scroll;
    top: 70px;
    left: 50%;
    margin-left: -390px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px #FFF;
  }
}
.selector_btn {
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.celector_box_close {
  clear: both;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.celector_box_close > div {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: #FFF;
  padding: 5px;
  border: solid 1px #FFF;
  cursor: pointer;
}
