/* ==========================================================================
  form
========================================================================== */
#contact .message {
  padding: 10px;
}
#contact form > div {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
}
#contact form > div > dl {
  display: table-row;
}
#contact form > div > dl > dt, #contact form > div > dl > dd {
  display: table-cell;
  padding: 10px;
}
#contact form > div > dl > dt {
  background-color: #c6c3bb;
  width: 120px;
  text-align: center;
}
#contact form > div > dl > dd {
  border-bottom: solid 1px #c6c3bb;
}
#contact .submit_wrap {
  text-align: right;
}
#contact .submit_wrap p {
  display: inline-block;
  padding: 3px;
}
